.HeartReactMapHoverBox {
    position: absolute;
    width: 10vw;
    height: 15vw;
    background-color: lightcoral;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s linear;
}

.HeartReactMapHoverBox:hover {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
}
