.HeartReactMap {
    position: relative;
}

.HeartReactMap > .mapImage {
    height: 65vh;
    width: 150vh;
    margin: auto;
    margin-bottom: 0.5vw;    
}

.HeartReactMap > .mapOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 65vh;
    width: 150vh;
}
