.HeartReactMap {
    position: relative;
}

.HeartReactMap > .mapImage {
    height: 65vh;
    width: 150vh;
    border: 4px solid black;
    margin: auto;
    margin-bottom: 1vh;    
}

.HeartReactMap > .mapOverlay {
    margin: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 65vh;
    width: 150vh;
}
